/*
* @Author: dell
* @Date:   2017-09-23 19:56:53
* @Last Modified by:   dell
* @Last Modified time: 2017-09-23 20:31:25
*/

/*通用头部导航*/
.header .logo{
	position: absolute;
	left: 60px;
	top: 34px;
	display: block;
	font-size: 36px;
	color: #c60023;
	font-weight: bold;
}

.header .search-con{
	padding: 40px 0 30px 250px;
}
.header .search-con .search-input{
	width: 550px;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	font-size: 15px;
	border: 2px solid #c60023;
	outline: none;
}
.header .search-con .search-btn{
	position: absolute;
	height: 44px;
	width: 80px;
}